body {
  /* Set line height to 1.5 times the font size
        and use the OS’s UI font as the website font
      */
      
  font: 100%/1.5 system-ui;
  max-width: 300ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}
.color-scheme{
  position: absolute;
  font-family: inherit;
  top: 1em;
  right: 1em;
  font-size: 80%;
}
:root{
  --color-accent: oklch(0.7838 0.1085 133.94);
  accent-color: var(--color-accent);
  border-bottom-color: var(--border-color);
}
nav{
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
}
nav a{
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}
.current{
  border-bottom-width: 0.4em;
  padding-bottom: calc(0.4em - 1px);
  border-bottom-color: var(--color-accent);
  font-weight: bold;
}
nav a:hover{
  border-bottom-width: 0.4em;
  padding-bottom: calc(0.4em - 1px);
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}
img{
  max-width: 100%;
}
form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
label{
  grid-template-columns: subgrid;
}
input, textarea{
  font: inherit;
}
button{
  font: inherit;
  grid-column: 1 / -1;
}
.projects{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em; 
}
article{
  grid-template-rows: subgrid;
  grid-row: span 3;
}
h2{
  margin: 0;
}
h1 {
  font-size: 400%;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}
.page{
  display: grid;
  grid-template-columns: 27% 73%;
  gap: 1em;
}
.leftPanel{
  background-color: oklch(85.077% 0.06612 133.505);
}
.contacts{
  padding: 1em;
}
.contacts a{
  text-decoration: none;
  color: inherit;
  overflow-wrap: break-word;
}
.education{
  padding: 1em;
}
.education a{
  font-weight: 550;
}
.skills{
  padding: 1em;
}
.experience{
  margin-top: 2.5em;
}
.home{
  padding: 1em;
  background-color: oklch(85.077% 0.06612 133.505);
  border-top: 0.4em solid var(--color-accent);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, oklch(85.077% 0.06612 133.505), oklch(89.339% 0.02686 133.14));
}
.github-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;         
  text-align: center;
  gap: 0.5rem 1rem;                      
  font-family:'Courier New', Courier, monospace;
  font-size: 3ex;
}
.githubstatsbox{
  padding: 1em;
  background-color: oklch(85.077% 0.06612 133.505);
  border-top: 0.4em solid var(--color-accent);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, oklch(85.077% 0.06612 133.505), oklch(89.339% 0.02686 133.14));
}
.github-stats dt {
  grid-row: 1;
  font-weight: bold;
}
.github-stats dd {
  grid-row: 2;
  margin: 0;
}   
.projectshome{
  padding: 1em;
  background-color: oklch(85.077% 0.06612 133.505);
  border-top: 0.4em solid var(--color-accent);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, oklch(85.077% 0.06612 133.505), oklch(89.339% 0.02686 133.14));
}
.year{
  font-family: Baskerville;
  font-variant-numeric: oldstyle-nums
}
#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}
.swatch{
  display: inline-block;
  width:15px;
  height: 15px;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
}
.legend{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 8px;
  padding: 1em;
  background-color: oklch(85.077% 0.06612 133.505);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  flex: 1;
  list-style: none;
}
.legend-item{
  display: flex;
  align-items: center;
  gap: 5px;
}
.container{
  display: flex;
  align-items: center;
  gap: 1em;
}
.searchBar{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}
path {
  transition: 300ms;
}
.selected {
  --color: oklch(76.453% 0.22521 137.388) !important;

  &:is(path) {
    fill: var(--color);
  }
}
path {
  cursor: pointer;
}

.stats {
  display: grid;
  grid-template-columns: auto;  
  gap: 1rem 3rem; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  padding: 10px;
  background-color: oklch(85.077% 0.06612 133.505);
  border-top: 0.4em solid var(--color-accent);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-bottom: 0.4em solid var(--color-accent);  
}

.stats dt,
.stats dd {
  display: flex;
  justify-content: flex-start;  
  align-items: center;          
  text-align: left;           
  margin: 0;
  font-weight: bold;                                  
}

.stats dt {
  grid-column: span 1; 
  grid-row: 1;        
}

.stats dd {
  grid-column: span 1;  
  grid-row: 2;         
}

.gridlines line {
    stroke: #ddd;
    stroke-width: 2px;
}
dl.info{
  display: grid;
  grid-template-columns: auto 1fr;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

dl.info dt {
  font-weight: bold;
  opacity: 0.7;
}

dl.info dd {
  margin: 0;
  padding-left: 10px;
}

.tooltip{
  position:fixed;
  top: 1em;
  left: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 10px;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}

circle.selected {
  fill: #ff6b6b;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}